Print this!

<% if @game.rounds.find_by_player_id(@player1.id).win == true %>
<p> <%= @player1.username %> has won the game with a time of: <%= @game.rounds.find_by_player_id(@player1.id).time %> </p>
<% elsif @game.rounds.find_by_player_id(@player2.id).win == true %>
<p> <%= @player2.username %> has won the game with a time of: <%= @game.rounds.find_by_player_id(@player2.id).time %> </p>
<% end %>

<a href="/home"> Go Home </a>


<p> Unique URL </p>
<%= @game.unique_url %>
